.App {
  font-family: sans-serif;
  font-size: 1.3em;
  text-align: center;
}

.App .sendbird-channel-header,
.App .sendbird-channel-list {
  width: 100%;
}

.sendbird-message-content.incoming .sendbird-message-content__middle .sendbird-message-content__middle__sender-name,
.sendbird-theme--light .sendbird-label--color-onbackground-2 {
  font-size: 12px;
}

/* Channel list preview styles */
.channel-preview-wrapper {
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
  padding: 20px;
  border-bottom: 1px solid var(--sendbird-light-background-100);
}
.channel-preview-wrapper:hover,
.channel-preview-wrapper:active {
  background-color: var(--sendbird-light-background-100);
}
.channel-preview-cover {
  margin-inline-end: 10px;
  border-radius: 50%;
}
.channel-preview-name {
  font-weight: bold;
  margin-bottom: 5px;
}
.channel-preview-last-message,
.channel-preview-last-message-date {
  font-weight: 200;
  color: var(--sendbird-dark-background-300);
  font-size: 0.8em;
}
.channel-preview-last-message {
  max-width: 170px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.channel-preview-last-message-date {
  margin-left: auto;
  flex: 1;
  text-align: end;
}

.sendbird-channel-settings {
  width: 100%;
}
.sendbird-label--h-2 {
  font-size: 1.4em;
}
.sendbird-channel-settings .sendbird-channel-settings__scroll-area {
  flex-grow: none;
}
.sendbird-channel-profile {
  flex-grow: 2;
}
.sendbird-channel-profile .sendbird-channel-profile__title {
  font-size: 1.5em;
  max-width: 100%;
  height: 100%;
}
.sendbird-label--button-1 {
  font-size: 1.2em;
}
.sendbird-channel-settings__freeze {
  max-width: 100%;
}
.sendbird-label--subtitle-1 {
  font-size: 1.2em;
}
.sendbird-badge {
  width: 100%;
  max-width: 30px;
  height: 100%;
  max-height: 30px;
}
.sendbird-badge .sendbird-badge__text {
  margin: 0px 0px;
}
.sendbird-label--caption-2 {
  font-size: 1.2em;
}

/* Channel custom header styles */
.custom-channel-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0;
}
.custom-channel-header button {
  border: none;
  background: transparent;
}

.sendbird-message-input {
  margin-left: auto;
  flex: 1;
  text-align: left;
}